body {
  margin-top: 105px;
  background-color: whitesmoke;
}

.navbar{
  box-shadow: 2px 2px 5px navy;
  opacity: 0.9;
  background: #fff;
}

.nav-item{
  font-size:1.4rem;
  padding-right: 20px;
}

.nav-link {
  color: darkgoldenrod;
}

#showcase{
  position:relative;
  background-image: url('../img/rsz_car2.jpg');
  min-width: 1260px;
  min-height: 450px;
}

.primary-overlay {
  background-color:rgba(50,60,166,0.7);
  box-shadow: 2px 2px 20px black;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width:0;
  width:100%;
  }

#main-footer{
  height: 120px;
}

.skills-header{
    width: 50%;
    margin: auto;
}

#about h1 {
    color: darkgoldenrod;
}

#about img {
    margin-top: -60px;
}

.card {
    background-color: midnightblue;
    color: #fff;
    border-radius: 10px;
}

.card:hover {
    background-color: royalblue;
}